@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h1>Login</h1>
    <form class="loginForm" asp-action="Login" asp-controller="Home" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="loginForm__item">
                <label asp-for="Login">Введите логин:</label><br />
                <input type="text" asp-for="Login" />
                <span asp-validation-for="Login" />
            </div>
            <div class="loginForm__item">
                <label asp-for="Password">Введите пароль:</label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="loginForm__item">
                <input type="submit" value="Sign in" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}